[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "edep"]
	path = edep
	url = git@github.com:jorissteyn/edep.git
[submodule "phptags"]
	path = phptags
	url = git@github.com:jorissteyn/phptags.git
[submodule "site-lisp/cedet"]
	path = site-lisp/cedet
	url = https://bitbucket.org/stevenremot/cedet
[submodule "site-lisp/ede-php-autoload"]
	path = site-lisp/ede-php-autoload
	url = git@github.com:stevenremot/ede-php-autoload.git
[submodule "tern"]
	path = tern
	url = git@github.com:ternjs/tern.git
[submodule "site-lisp/semantic-php"]
	path = site-lisp/semantic-php
	url = git@github.com:jorissteyn/semantic-php.git
[submodule "site-lisp/liberime"]
	path = site-lisp/liberime
	url = git@github.com:merrickluo/liberime.git
